node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Environment variables
.env

# Local settings files
.vscode/

# Old Android and iOS directories - no longer in use
android/
ios/

# Old config file - no longer in use, but included here to make sure it isn't accidentally committed to the repo
src/Config/index.ts

.watchman-cookie*
