name: Continuous Integration

# Triggers execute all tests workflow on push and pull request events
on:
  push:
    types: [ opened, synchronize, reopened, edited ]
        paths:
          - 'client/**'
  pull_request:
    types: [ opened, synchronize, reopened, edited ]
        paths:
          - 'client/**'
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@master
      - uses: c-hive/gha-npm-cache@v1

      - name: Install node modules
        run: |
          npm install

      - name: Run test
        run: |
          npm test
