name: Continuous Integration

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-node@master
    - uses: c-hive/gha-npm-cache@v1

    - name: Install node modules
      run: |
        npm install
    - name: Run test
      run: |
        npm test
