name: Continuous Integration

# Triggers execute all tests workflow on push and pull request events
on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]
        paths:
          - 'client/**'
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: |
          cd client
          npm install
          npm test
